.panel{
	font-family: 'Raleway', sans-serif;
}
.navbar{
	background-color: rgb(240, 95, 64);
	border-radius: 0px;
	border: none;
}

.navbar .navbar-brand{
	color: white;
	font-family: 'Comfortaa', cursive; 
	letter-spacing: 1.5;
}

.navbar .navbar-brand:hover{
	color:white;
}

.navbar .navbar-header .navbar-toggle .icon-bar{
	background-color: white;
}

.navbar .navbar-header .navbar-toggle:hover{
	/*background: rgba(255,255,255,0.4);
	border-color: rgba(44,108,192,0.6);*/

}

.navbar-default .navbar-nav .open .dropdown-menu{
	border:none;
	border-radius: 0px;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a,
.navbar .navbar-nav li a,
.navbar .navbar-nav li ul{
	color:white;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
	color:white;
}
.navbar .navbar-nav li a:hover{
	color:white;
}
.navbar-default .navbar-nav .open .dropdown-toggle:active,
.navbar-default .navbar-nav .open .dropdown-toggle:focus,
.navbar-default .navbar-nav .open .dropdown-toggle:visited,
.navbar-default .navbar-nav .open .dropdown-toggle:hover{
	background-color: rgba(255,255,255,0.4);
	color:white;
}

.navbar-default .navbar-nav .dropdown-menu{
	background-color:rgba(240, 95, 64,0.6);
	border:none;
	border-top: 1px solid white;
}

/*.navbar-default .navbar-nav .open .dropdown-menu{
	background-color: rgba(255,255,255,0.4);
	border-top: 1px solid white;
	border:none;

}*/
.navbar-default .navbar-nav .dropdown-menu li a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
	color: rgb(240, 95, 64);
	background: rgba(240, 95, 64,0)
}

.dropdown-menu li:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li:hover{
	color:rgb(240, 95, 64);
}

/*.dropdown-menu li:visited .navbar-default .navbar-nav .open .dropdown-toggle{
	background-color: rgba(31,80,205,0.6);
}*/

.container .jumbotron,
.alert,
.btn,
.panel,
.input-group span{
	border-radius: 0px;
}

.jumbotron{
	/*background-image: url("titleBKG_1.jpg");*/
	background-repeat: none;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	border-radius: 0px;
}

.jumbotron h1{
	color: white;
	font-family: 'Raleway', sans-serif;
}

.panel-default{
	/*border-color: rgba(240, 95, 64, 0.5);*/
	border: none;
	/*box-shadow: 10px 10px 5px #ddd;*/
}

.panel-default > .panel-heading{
	padding-top: 17px;
	padding-bottom: 17px;
	background: rgba(240, 95, 64,0.6);/*#F05F40*/
	/*border-color: rgb(240, 95, 64);*/
	border-radius: 0px;
	position: relative;
	color:#666;
	border:none;
}

.panel-default > .panel-body{

	background: rgba(240, 95, 64,0.05);/*#F05F40*/
	margin-right: 0px;
	margin-left: 0px;
	border-radius: 0px;
	border:none;
}


.panel-heading h3{
	display: inline-block;
	/*position: relative;*/
	color:white;
}

.panel-heading .editBtn{
	right:0px;
	top:0px;
	position: absolute;
	height: 100%;
	background: #fff;
	/*border-color:rgba(205, 31, 80,0.8);*/
	background-color: rgb(240, 95, 64);
	color: white;
	border:none;
}

/*.panel-heading .editBtn:hover{
	
	background: rgb(240, 95, 64);
	border-color:rgba(205, 31, 80,0.8);
	border-color: rgb(240, 95, 64);
	color: white;
}*/

.contentWrap{
	padding-right: 30px;
}

.optionWrap{
	margin-top: 10px;
	list-style: none;
	padding-left: 0px;
}
.optionWrap .optionBtn{
	margin-bottom: 10px;
	width:100%;
	border-radius: 0px;
	padding:0px;
	border:none;
	background-color: rgba(240, 95, 64,0.05);	
}



.optionNo{
	padding: 10px;
	display: inline-block;
	background-color: rgba(240, 95, 64,1);
	text-align: center;
	width: 15%;
}

.optionNo .badge{
	color:rgb(240, 95, 64);
}
.optionContent{
	padding:10px;
	display: inline-block;
	background-color: rgba(240, 95, 64,0.55);
	/*opacity: 0.5;*/
	width: 85%;
	text-align: left;
	/*height:34px;*/
	/*margin-top: 10px;*/
	color:white;
}

/*.optionBtn:hover .optionNo{
	background-color:rgba(240, 95, 64, 1);
}*/
.optionBtn:hover .optionContent{
	background-color: rgba(240, 95, 64, 0.1);
	color:#444;
}
.optionBtn:hover .optionNo .badge{
	color:rgba(240, 95, 64, 1);
}


.noNextE {
	display: none;
	background-color: rgba(240, 95, 64, 0.05);
	color: #444;
	border: none;
}

.noNextE button{
	border-color: rgb(240, 95, 64);
	background-color: rgba(240, 95, 64, 0);
	color:rgb(240, 95, 64);
}

.noNextE button:hover{
	border-color: rgb(240, 95, 64);
	background-color: rgb(240, 95, 64);
	color:rgba(255,255,255, 0.8);
}


.avatar{
	border-radius: 100%;
	width:70%;
	margin: auto;
}


/*create section*/
.create{
	display: none;
}

.create #submit .btn{
	background-color: rgb(240, 95, 64);
	color: white;
	border:none;
}

.create .input-group .input-group-addon{
	background-color: rgb(240, 95, 64);
	color: white;
	border-color:rgba(240, 95, 64,0.3);
}

.create textarea{
	border-color:rgba(240, 95, 64,0.3);
	border-radius: 0px;
}

.create .input-group input{
	border-color:rgba(240, 95, 64,0.3);
	border-radius: 0px;

}
.createPanel-body textarea,
.createPanel-body .input-group{
	margin-bottom: 15px;
}

.createPanel-body input{
	width: 100%;
}

.createPanel-body .newEntryContent{
	width:100%;
	resize:none;
}



@media(max-width:560px){
	.optionNo{
		width: 20%;
	}
	.optionContent{
		width: 80%;		
	}


}