.create {
	border-radius: 10px;
	padding: 30px;
	background-color: #EBF4FA;
}

.create-item {
	margin-bottom: 10px;
}

.jumbotron {
	margin-bottom: 20px;
}

#title-input {
	width: 100%;
}

#content-textarea {
	width: 100%;
}

#create-section {
	margin-bottom: 20px;
}