body {
	height: 100%;
}


/*welcome*/
.header{
	/*padding-top: 20px;*/
	color: white;
}

.header .logo{
	display: block;
	margin: 75px auto;
	font-family: 'Comfortaa', cursive; 
	font-size: 33px;
	letter-spacing: 2.5;
}


.welcome{
/*	background-image: url("bkg.jpg"); 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover; */
  	background-color: rgba(240, 95, 64,1);
  	/*height: 80%;*/
  	font-family: 'Raleway', sans-serif;
  	padding-bottom: 10px;
}

.welcome .mainRow{
/*	padding-left: 160px;
	padding-right:160px;*/
}

.welcome .row:nth-child(2){
	/*margin-top: 80px;*/

}

.welcome .intro{
	/*margin: 50px 0px 50px 160px;*/
	margin: 10px 0px 50px 0px;
}

.welcome .intro h4,
.welcome .intro h2{
	color: white;
	text-align: center;
}

.welcome .intro h4{
	margin-top: 35px;
	cursor: pointer;
}

/*.tabpanel{
	border-radius: 0px;
	margin: 80px 0px 70px 0px;
	border: 1px solid white;
}*/

/*.tabpanel .nav{	
	border: none;
	color:white;
}

.tabpanel-transparent{
	background-color: rgba(255,255,255,0.0);
	border: 1px solid white;
}*/

.signUp{
	display: none;
	margin-top: 30px;
	margin-bottom: 80px;
}

.logIn{
	display: none;
	margin-top: 30px;
	margin-bottom: 80px;
}

.signUp .btn,
.logIn .btn{
	color:rgba(240, 95, 64,1);
	border-radius: 0px;
	border-color: rgba(240, 95, 64,1);
	background-color: white;
}

.signUp .btn:hover,
.logIn .btn:hover{
	background-color: rgba(240, 95, 64,0.2);
	color:#eee;
	border-color: #eee;
}

.signUp .signEl{
	font-size: 16px;
	margin:10px 10px;
	line-height: 40px;
	width: 20%;
	display: inline-block;
}

.logIn .logEl{
	font-size: 16px;
	margin:10px 10px;
	line-height: 40px;
	width: 20%;
	display: inline-block;
}

/*

.tab-content .inLine{
	margin: 5px 10%;
}

.tab-content .inLine a{
	float: right;
	color: rgb(210,44,132);
}*/

/*.tab-content{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: white;
}*/
/*
.tabpanel ul li{
	text-align: center;
	width: 50%;
	background:rgba(240, 95, 64,0.8);
}*/


.tabpanel ul li a{
	font-size: 18px;
	color: #aaa;
	border-radius: 0px;
	border:none;
	margin:0px;
}

.arrowWrap{
	position: relative;
}

.fa-angle-down{
	position: absolute;
	bottom: 6px;
	color:white;
	cursor: pointer;
	/*scale*/
	-webkit-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
}



.fa-angle-down:hover{
	-webkit-filter: none;
    filter: none;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}


/*introduction*/

.introduction{
  	/*min-height: 100%;*/
  	font-family: 'Raleway', sans-serif;
  	background: #eee;
}

.signUpBtn,
.logInBtn{
	margin: 50px 10px 40px 10px;
	border-radius: 0px;
	border:1px solid rgba(240, 95, 64,1);
	background-color: #eee;
	color:rgba(240, 95, 64,1);
	cursor: pointer;
}

.signUpBtn:hover,
.logInBtn:hover{
	color:white;
	background-color: rgba(240, 95, 64,1);
	border:1px solid #eee;
}






.introduction li {
  	list-style: none;
 	margin-top: 160px;
	margin-bottom: 150px;
}

.introduction .row{
	padding-left: 300px;
	padding-right: 300px;
}




.introduction .icons{
	font-size: 80px;
	color:#999;

	-webkit-transition: all 0.4s;
  	-o-transition: all 0.4s;
  	transition: all 0.4s;
  /*border: 1px solid transparent;*/

}
.introduction li .icons{
	color: rgba(240, 95, 64,1);
}

.introduction li:hover .icons{
	/*color: rgba(240, 95, 64,1);*/

	-webkit-filter: none;
  	filter: none;
	/*for FireFox*/
	-webkit-transform: scale(1.06);
	-moz-transform: scale(1.06);
	-o-transform: scale(1.06);
	-ms-transform: scale(1.06);
	transform: scale(1.06);
}


.introduction .row h5,
.introduction .row h4{
	color:rgba(240, 95, 64,1); 
}

.introduction .footerWrap{
	background-color: rgba(240, 95, 64,1);
}

.introduction .footer{
	margin: 33px auto;
}

.introduction .footer h5{
	color:white;
	letter-spacing: 1;
}
