body *{
	font-family: 'Raleway', sans-serif;
}

.panel{
	margin: 50px auto;
	border-radius: 0px;
	border: 1px solid #69BBFF;
}

.panel-default .panel-heading{
	background: #69BBFF;
	color: white;
	font-weight: bold;
	border-radius: 0px;
}

form{
	margin: 20px 10%;
}

form div{
	margin-top:10px;
	margin-bottom: 15px;
}


input{
	width:100%;
}

input[type="radio"]{
	width:5%;
}

form .btn{
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 5px;
	width: 100%;
	border-radius: 0px;
	border: 1px solid #69BBFF;
	color: #69BBFF;
}

form .btn:hover{
	color: white;
	border: 1px solid #69BBFF;
	background-color: #69BBFF;
}

form .label{
	font-weight: normal;
	color: #666;
}

.alert{
	display:none;
	text-align: center;
	border-radius: 0px;
	background-color: #69BBFF;
	color:white;
	font-weight: bold;
	margin-top: 100px;
}



@media (min-width: 320px){
	.row{
		width:90%;
		margin:auto;
	}
}

@media (min-width: 480px){
	.row{
		width:80%;
		margin:auto;
	}
}

@media (min-width: 730px){
	.row{
		width:50%;
		margin:auto;
	}
}

@media (min-width: 900px){
	.row{
		width:40%;
		margin:auto;
	}
}