#container{
  position:relative;
      width: 100%;
      height:100%;
}

#navBar{
  border:0px;
  width:100%;
  padding-left: 25%;
  background-color: transparent;
  background: transparent;
  z-index:10;
    
}

#navBarBrand{
  font-size: 25px;
}

.navbar  .nav{
  margin-left: 120px;
}

.navbar .nav > li > a {
  /*  float: none;
    line-height: 19px;
    padding: 9px 10px 11px;*/
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  #fff;
    margin-left: 20px;
}

#navBarBrand{
  color:#fff;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0; 
    margin-top: -80px;
    overflow: hidden;
    z-index: 0;
}
 
.video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#welcomeText{
  position:absolute;
     width: 25%;
     height:20%;
     margin-left:37.5%;
     margin-top:-35%;
  background-color:rgba(0,0,0,0.45);
  z-index: 10;
  border-radius: 15px;
}

#welcomeText a{
  color:#FFF;
  font-size: 35px;
  font-weight: bold; 
  position: absolute;
     top: 50%;
     left: 50%;
     /*transform: translateX(-50%) translateY(-50%);*/
}

#footer{
  position:relative;
  z-index:10;
  height:50px;
}

#footer p{

  position: relative;
     top: 50%;
     margin-left: 64%;
     transform: translateX(-50%) translateY(-50%);

     font-weight:bold;
  color:#000000;

  background-color: rgba(0, 0, 0, 0);
  margin-top:-5%;

}
body{
  background-image: url("http://4.bp.blogspot.com/-NfkhXwwLwFk/TjCmp-Q55pI/AAAAAAAAAsQ/Bv2Hve4LExA/s1600/learning_lab_word_cloud2.png")
 }
img{
  opacity: 0.2;
}


/***************introduction.html***************/

#introNavbar{
  border:0px;
  width:100%;
  z-index:10;
  padding-left:20%;
}

#introOption{
  margin-left: 40%;
}

#introNavPic{
  margin-top: -1.8%;
  width:100%;
}

#tutorial{
  position:relative;
  background-color: #FFF;
  max-width: 1920px;
  margin-left: 8.33333333%;
  margin-top: 1%;
}

@font-face {
   font-family: myFont;
   src: url(JosefinSans-Bold.ttf);
}

#text{
  background-color:#F1F1F1;
  margin-left: 8.33333333%;
  margin-right: 8.33333333%;
  margin-top: 3%;
  text-align: center;
  font-size: 150%;
 
}
#exp1{
  width:550px;
  height: 230px;
  margin-top: 2%;
  text-align: center;
}
#follow{
  margin-top: 3%;
  font-family: myFont;
  font-size: 35px;
  text-align: center;
}

#tutorial p{
  font-family: myFont;
  font-size:35px;
  background-color:#F1F1F1;
  padding-left:1.5%;
  padding-top: 1%;
}

.videoPanel{

  padding-bottom: 5%;
  margin-left: 10%;
  max-width: 1920px;
  display: inline-block;
}


#video1{

  margin-top: 3%;

}

#video1Pic{

  margin-top:-7%;
  margin-left:90%;
}

#video2{

  margin-top: 3%;
  margin-left:34%;
}

#video2Pic{

  margin-top: 20%;
}

#video3{

  margin-top: 3%;
}

#video3Pic{

  margin-top:-7%;
  margin-left:65%;
}

#video4{

  margin-top: 3%;
  margin-left: 30%;
}

#video4Pic{

  margin-top: 20%;
  margin-left: -5%;
}

#assessPic{
  margin-left: 0%;
}

#assessPic img{

  width:100%;
  height:auto;
  margin-left: -20%;
}

#assessArrow{
  padding-top: 5%;
  margin-left: -7.5%;
}

#assessArrow img{
  width:100%;
}

#assessArrow p{
  margin-top: 0%;
  margin-left:18%;
  background-color: #FFF;
}

#assessVideo{

  margin-top:4%;

}

#prjFooter{
  background-color: rgba(0,0,0,0.3);
  position:relative;
  width:100%;
  margin-top: 10%;
  height:50px;
}


#prjFooter p{

  position: relative;
     top: 50%;
     margin-left: 64%;
     transform: translateX(-50%) translateY(-50%);

     font-weight:bold;
  color:#000000;

  background-color: rgba(0, 0, 0, 0);
  margin-top:-5%;

}

/*******Responsive for different screen********/

@media only screen and (width: 1280px) {

     #navBar{
        border:0px;
        width:100%;
        padding-left: 15%;
        background-color: transparent;
        background: transparent;
        z-index:10;
          
      }

      #navBarBrand{
        font-size: 25px;
      }

      .navbar  .nav{
        margin-left: 120px;
      }

      .navbar .nav > li > a {
        /*  float: none;
          line-height: 19px;
          padding: 9px 10px 11px;*/
          text-decoration: none;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
          color:  #fff;
          margin-left: 20px;
      }

      #navBarBrand{
        color:#fff;
      }


      .video-container {
          position: relative;
          padding-bottom: 56.25%;
          height: 0; 
          margin-top: -80px;
          overflow: hidden;
          z-index: 0;
      }
       
      .video-container iframe{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
      }

      #welcomeText{
           position:absolute;
           width: 500px;
           height:200px;
           margin-left:32.5%;
           margin-top:-35%;
           background-color:rgba(0,0,0,0.45);
           z-index: 10;
           border-radius: 15px;
      }

      #welcomeText a{
          color:#FFF;
          font-size: 35px;
          font-weight: bold; 
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
      }



      #video1{
          margin-top: 3%;
      }

      #video1Pic{
        margin-top:-10%;
        margin-left:75%;
      }

      #video2{
        margin-top: 3%;
        margin-left:20%;
      }

      #video2Pic{
        margin-top: 20%;
        margin-left: -5%;
 
      }

      #video3{
        margin-left: -8%;
        margin-top: 3%;
      }

      #video3Pic{
        margin-top:-9%;
        margin-left:55%;
      }

      #video4{
        margin-top: 3%;
        margin-left: 25%;
      }

      #video4Pic{
        margin-top: 20%;
        margin-left: -10%;
      }

      #assessPic{
        margin-left: -3%;
      }

      #assessPic img{
        width:100%;
        height:auto;
        margin-left: -20%;
      }

      #assessArrow{
        padding-top: 5%;
        margin-left: -7.5%;
      }

      #assessArrow img{
        width:100%;
      }

      #assessArrow p{
        margin-top: 0%;
        margin-left:18%;
        background-color: #FFF;
      }

      #assessVideo{

        margin-top:4%;

      }
}

@media only screen and (width: 1366px) {
      
      #navBar{
        border:0px;
        width:100%;
        padding-left: 15%;
        background-color: transparent;
        background: transparent;
        z-index:10;
          
      }

      #navBarBrand{
        font-size: 25px;
      }

      .navbar  .nav{
        margin-left: 120px;
      }

      .navbar .nav > li > a {
        /*  float: none;
          line-height: 19px;
          padding: 9px 10px 11px;*/
          text-decoration: none;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
          color:  #fff;
          margin-left: 20px;
      }

      #navBarBrand{
        color:#fff;
      }


      .video-container {
          position: relative;
          padding-bottom: 56.25%;
          height: 0; 
          margin-top: -80px;
          overflow: hidden;
          z-index: 0;
      }
       
      .video-container iframe{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
      }

      #welcomeText{
           position:absolute;
           width: 500px;
           height:200px;
           margin-left:32.5%;
           margin-top:-35%;
           background-color:rgba(0,0,0,0.45);
           z-index: 10;
           border-radius: 15px;
      }

      #welcomeText a{
          color:#FFF;
          font-size: 35px;
          font-weight: bold; 
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
      }




      #video1{
          margin-top: 3%;
      }

      #video1Pic{
        margin-top:-10%;
        margin-left:80%;
      }

      #video2{
        margin-top: 3%;
        margin-left:25%;
      }

      #video2Pic{
        margin-top: 20%;
        margin-left: 0%;
 
      }

      #video3{
        margin-left: -3%;
        margin-top: 3%;
      }

      #video3Pic{
        margin-top:-9%;
        margin-left:60%;
      }

      #video4{
        margin-top: 3%;
        margin-left: 25%;
      }

      #video4Pic{
        margin-top: 20%;
        margin-left: -5%;
      }

      #assessPic{
        margin-left: -3%;
      }

      #assessPic img{
        width:100%;
        height:auto;
        margin-left: -10%;
      }

      #assessArrow{
        padding-top: 5%;
        margin-left: -5%;
      }

      #assessArrow img{
        width:100%;
      }

      #assessArrow p{
        margin-top: 0%;
        margin-left:18%;
        background-color: #FFF;
      }

      #assessVideo{

        margin-top:4%;

      }
}



@media only screen and (width: 1440px) {

      #navBar{
        border:0px;
        width:100%;
        padding-left: 15%;
        background-color: transparent;
        background: transparent;
        z-index:10;
          
      }

      #navBarBrand{
        font-size: 25px;
      }

      .navbar  .nav{
        margin-left: 120px;
      }

      .navbar .nav > li > a {
        /*  float: none;
          line-height: 19px;
          padding: 9px 10px 11px;*/
          text-decoration: none;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
          color:  #fff;
          margin-left: 20px;
      }

      #navBarBrand{
        color:#fff;
      }


      .video-container {
          position: relative;
          padding-bottom: 56.25%;
          height: 0; 
          margin-top: -80px;
          overflow: hidden;
          z-index: 0;
      }
       
      .video-container iframe{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
      }

      #welcomeText{
           position:absolute;
           width: 500px;
           height:200px;
           margin-left:32.5%;
           margin-top:-35%;
           background-color:rgba(0,0,0,0.45);
           z-index: 10;
           border-radius: 15px;
      }

      #welcomeText a{
          color:#FFF;
          font-size: 35px;
          font-weight: bold; 
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
      }




      #video1{
          margin-top: 3%;
      }

      #video1Pic{
        margin-top:-10%;
        margin-left:85%;
      }

      #video2{
        margin-top: 3%;
        margin-left:30%;
      }

      #video2Pic{
        margin-top: 17.5%;
        margin-left: 0%;
 
      }

      #video3{
        margin-top: 3%;
      }

      #video3Pic{
        margin-top:-9%;
        margin-left:65%;
      }

      #video4{
        margin-top: 3%;
        margin-left: 27.5%;
      }

      #video4Pic{
        margin-top: 20%;
        margin-left: -5%;
      }

      #assessPic{
        margin-left: 0%;
      }

      #assessPic img{

        width:100%;
        height:auto;
        margin-left: -20%;
      }

      #assessArrow{
        padding-top: 5%;
        margin-left: -7.5%;
      }

      #assessArrow img{
        width:100%;
      }

      #assessArrow p{
        margin-top: 0%;
        margin-left:18%;
        background-color: #FFF;
      }

      #assessVideo{

        margin-top:4%;

      }
}

@media only screen and (width: 1920px) {

      #navBar{
        border:0px;
        width:100%;
        padding-left: 20%;
        background-color: transparent;
        background: transparent;
        z-index:10;
          
      }

      #navBarBrand{
        font-size: 25px;
      }

      .navbar  .nav{
        margin-left: 260px;
      }

      .navbar .nav > li > a {
        /*  float: none;
          line-height: 19px;
          padding: 9px 10px 11px;*/
          text-decoration: none;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
          color:  #fff;
          margin-left: 20px;
      }

      #navBarBrand{
        color:#fff;
      }


      .video-container {
          position: relative;
          padding-bottom: 56.25%;
          height: 0; 
          margin-top: -80px;
          overflow: hidden;
          z-index: 0;
      }
       
      .video-container iframe{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
      }

      #welcomeText{
           position:absolute;
           width: 500px;
           height:200px;
           margin-left:37.5%;
           margin-top:-35%;
           background-color:rgba(0,0,0,0.45);
           z-index: 10;
           border-radius: 15px;
      }

      #welcomeText a{
          color:#FFF;
          font-size: 35px;
          font-weight: bold; 
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
      }

      #video1{
          margin-top: 3%;
          margin-left: 10%;
      }

      #video1Pic{
        margin-top:-10%;
        margin-left:110%;
      }

      #video2{
        margin-top: 3%;
        margin-left:40%;
      }

      #video2Pic{
        margin-top: 17.5%;
        margin-left: 17.5%;
 
      }

      #video3{
        margin-top: 3%;
        margin-left: 10%;
      }

      #video3Pic{
        margin-top:-9%;
        margin-left:95%;
      }

      #video4{
        margin-top: 3%;
        margin-left: 40%;
      }

      #video4Pic{
        margin-top: 20%;
        margin-left: 10%;
      }

      #assessPic{
        margin-left: 5%;
      }

      #assessPic img{

        width:100%;
        height:auto;
        margin-left: -20%;
      }

      #assessArrow{
        padding-top: 5%;
        margin-left: -7.5%;
      }

      #assessArrow img{
        width:100%;
      }

      #assessArrow p{
        margin-top: 0%;
        margin-left:18%;
        background-color: #FFF;
      }

      #assessVideo{

        margin-top:4%;

      }
}








